@import "tailwindcss";

@theme {
  --color-brand-navy: #002147;
  --color-brand-gold: #C5A059;
  --font-body: "Inter", sans-serif;
  --font-heading: "Playfair Display", serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
